.product-50-50 {

  .wrap--outer > div {
    display: flex;
    align-items: center;
    margin: rem(30);
  }

  &__image {
    width: 50%;
    margin: 0 rem(30);
  }

  &__content {
    margin: 0 rem(30);
    color: $color--dark;
    width: 50%;
  }

  &__title {
    font-size: rem(54);
    margin: 0;
    line-height: rem(72);
  }

  &__description {
    font-size: rem(24);
    line-height: rem(36);
  }

  &--right {
    flex-direction: row-reverse;
  }
}
